.DS_Store
.vs
*.suo
Library
Temp
obj/*
/Assets/AssetStoreTools.meta
/Assets/UnityVS.meta

/*.csproj
/*.sln

/standalone/bin
/standalone/**/obj
/AssetBundles/standalones
*.zip
*.apk

Assets/StreamingAssets/lua
Assets/StreamingAssets/lua.meta
Assets/Z_Test
Assets/ZY_Test
Assets/ZY_Test.meta
Assets/Z_Test.meta
/Assets/StreamingAssets/assetbundle.meta
/Assets/StreamingAssets/assetbundle
/AssetBundles

Assets/StreamingAssets/hall*
Assets/StreamingAssets/nn*
Assets/StreamingAssets/sgjnh*
Assets/StreamingAssets/brnn*
Assets/StreamingAssets/zjh*
Assets/StreamingAssets/dznn*
Assets/StreamingAssets/lhj*
Assets/StreamingAssets/bjl*
Assets/StreamingAssets/ebg*
